<ul>
  <li>Using helper withOperation: {{# withOperation name="Address (Create)" }} {{ id }} {{/ withOperation }}</li>
  <li>Using helper getOperation: {{ getOperation name="Address (Create)" property="description" }}</li>
</ul>

<header class="welcome" data-stellar-background-ratio="0.5">
  <div class="text-vertical-center">
    <h1>Welcome to the Open Blackbaud</h1>
    <h2>Connect your app to the power of the {{site.productname}} API.</h2>
    <ul class="list-inline">
      <li>
        <a href="{{ nav.portal-signup }}" class="btn btn-lg btn-primary">Sign Up</a>
      </li>
      <li>
        <a href="#about" class="btn btn-lg btn-white smooth-scroll">Learn More</a>
      </li>
    </ul>
    <p class="text-muted">Already have an account?  <a href="{{ nav.portal-signin }}">Sign In</a></p>
  </div>
</header>

<section id="about" class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Our RESTful API is built for today's web.</h2>
        <p class="lead">The Blackbaud {{site.productname}} REST APIs allow you to manage constituent data such as contact info, education, relationships, attributes and constituent codes. Since the API is based on REST principles, it's very easy to write and test applications.</p>
        <p><a href="{{ nav.tutorials-getting-started }}" class="btn btn-lg btn-primary">Getting Started</a></p>
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .about -->

<section id="learn" class="learn section-padding bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        
        <h2>Learn</h2>

        <div class="row">
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ nav.tutorials }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Guided Tutorials</strong></h4>
            <p>Short, simple guides intended to help you get started using our {{site.productname}} APIs.</p>
          </div>  <!-- .col-md-3 -->
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ nav.guide }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-file-text fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Developer Guide</strong></h4>
            <p>Deeper documentation for topics such as auth, pagination, quotas, versions... </p>
          </div>  <!-- .col-md-3 -->
          
          <div class="clearfix visible-sm-block"></div>
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ nav.resources }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-cubes fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Resources</strong></h4>
            <p>Stay connected by using our developer blog, community forum, and other tools.</p>
          </div>  <!-- .col-md-3 -->
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ nav.resources-code }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Code</strong></h4>
            <p>Follow along within our developer guides and tutorials with code samples that are available within our GitHub repos.</p>
          </div>  <!-- .col-md-3 -->
        </div>  <!-- .row -->
      </div>  <!-- .col-lg-10 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .learn -->

<section id="services" class="services section-padding bg-secondary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        
        <h2>Our API</h2>
        <div class="row">
          
          <div class="col-sm-3">
            <a href="{{ nav.portal }}{{ getOperation name='Address (Create)' property='id' }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Constituents</strong></h4>
            <p>Get your constituent details by learning about the API endpoints.</p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">            
            <a href="###########" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-terminal fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Interactive API Console</strong></h4>
            <p>Our technical reference includes an interactive API console which allows you to directly interact with the API while you learn!</p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">
            <a href="{{ nav.resources-status }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-tachometer fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Real-time Status</strong></h4>
            <p>Get real-time status updates, including historical references and explanations of any status changes.</p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">
            <a href="{{ nav.portal-analytics }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-bar-chart fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Analytics</strong></h4>
            <p>View metrics on all your API calls, including response rates and codes.</p>
          </div>  <!-- .col-md-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .col-lg-10 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .services -->

<section id="start" class="start section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Get Help the Way You Want</h2>
        <p>We want our help to be just as available as our API.  Use the 
          <a href="{{ nav.community-forum }}">forum</a>, check out <a href="{{ nav.resources-faq }}">frequently asked questions</a>, view the <a href="{{ nav.resources-changelog }}">change log</a>, or explore <a href="{{ nav.portal-issues }}">active issues</a> to stay connected.</p>
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>