---
layout: container
---

<div class="code">
  <h1>Tutorials</h1>
    <p>This is an example of a 'Showcase' page that groups similar concepts together.  The data that drives this page resides within the stache.yml sitemap section. </p>
    
  <p>
  We provide a set of short, simple tutorials show you how to use XYZ to ABC.  Our <a href="{{ stache.config.tutorials_getting_started }}" >Getting Started</a> and <a href="{{ stache.config.tutorials_2 }}" >Awesome Sauce</a> tutorials get you up to speed fast.  These will guide you through the process of X, Y, and Z.  You will be accomplishing ABC in no time!
  </p>

  {{# eachChildLink mod=3 }}

    {{# if firstOrMod0 }}
      <div class="row {{# unless first }}resources-more{{/ unless }}">
    {{/ if }}

    <div class="col-sm-4">
      <div class="has-hover">
        <img src="holder.js/300x150" alt="" />
        <div class="show-on-hover">
          <div class="is-table">
            <div class="is-table-cell">
              <a href="{{ uri }}" class="btn btn-primary">View Tutorial</a>
            </div>
          </div>
        </div>
      </div>
      <h3><a href="{{ uri }}">{{ name }}</a></h3>
      {{# if description }}
        <p>{{ description }}</p>
      {{/ if }}
    </div>

    {{# if lastOrMod1 }}
      </div>
    {{/ if }}

  {{/ eachChildLink }}
</div>
