<h2>
  <a href="{{uri}}">{{ name }}</a>
</h2>

<ul class="list-inline">
  {{# if pubDate }}
    <li>
      <i class="fa fa-calendar"></i>
      {{ pubDate }}
    </li>
  {{/ if }}
  {{# if author }}
    <li>
      <a href="https://github.com/{{ author }}">
        <img src="https://avatars.githubusercontent.com/{{ author }}?s=15" alt="{{ author }}" class="author-image" />
        {{# if authorName }}
          {{ authorName }}
        {{ else }}
          {{ author }}
        {{/ if }}
      </a>
    </li>
  {{/ if }}
  {{# is comments false }}{{ else }}
    <li>
      <i class="fa fa-comments"></i>
      <a href="{{ uri }}#disqus_thread">Comments</a>
    </li>
  {{/ is }}
  {{# if sticky }}
    <li>
      <span class="label label-warning">
        <i class="fa fa-star"></i>
        Sticky
      </span>
    </li>
  {{/ if }}
</ul>
