{{# minify collapseWhitespace=true }}
<div class="media{{# if containerClass }} {{ containerClass }}{{/ if }}">
    <div class="media-left">
        <div class="media-object">
            {{# if thumbnail }}
                <div class="has-hover">
                    <img src="{{ thumbnail }}" alt="">
                    <div class="show-on-hover">
                        <div class="is-table">
                            <div class="is-table-cell">
                                {{# if uri }}
                                    <a href="{{ uri }}" class="btn btn-primary">View</a>
                                {{ else }}
                                    View
                                {{/ if }}
                            </div>
                        </div>
                    </div>
                </div>
            {{/ if }}
            {{# if icon }}
                <i class="showcase-icon {{ icon }}"></i>
            {{/ if }}
        </div>
    </div>
    <div class="media-body">
        {{# if name }}
            <h4 class="media-heading">
                {{# if uri }}
                    <a href="{{ uri }}">{{ name }}</a>
                {{ else }}
                    {{ name }}
                {{/ if }}
            </h4>
        {{/ if }}
        {{# if summary }}
            <p>{{ summary }}</p>
        {{ else }}
            {{# if synopsis }}
                <p>{{ synopsis }}</p>
            {{ else }}
                {{# if description }}
                    <p>{{ description }}</p>
                {{/ if }}
            {{/ if }}
        {{/ if }}
    </div>
</div>
{{/ minify }}