/*jslint browser: true, es5: true*/
/*global jQuery, BBAUTH */
(function ($, window, document, undefined) {
  'use strict';

  // Initialize the Omnibar
  BBAUTH.Omnibar.load(document.getElementById("omnibar"), {
    enableSearch: {{ stache.config.omnibar_search }},
    enableHelp: {{ stache.config.omnibar_help }},
    serviceName: '{{ stache.config.omnibar_title }}',
    signInRedirectUrl: '{{ stache.config.omnibar_signin }}',
    signOutRedirectUrl: '{{ stache.config.omnibar_signout }}',
    afterLoad: function () {

      // Look into making this mirror the Angular Directive
      $('.productmenucontainer').append($('.navbar-nav').clone().toggleClass('nav-items bb-omnibar-productmenu'));

    {{# if stache.config.omnibar_link_enabled }}
      $('.servicename').wrapInner('<a id="omnibar-link" href="{{ stache.config.omnibar_link }}"></a>');
    {{/ if }}

    }
  });

}(jQuery, window, document));
