{{# if nav_links }}
  {{# minify collapseWhitespace=true }}
    <ul class="{{ class }}" role="menu">
      {{# each nav_links }}
        {{# if showInNav }}
          <li{{# if class }} class="{{ class }}"{{/ if }}>
            {{# if isClickable }}
              <a href="{{ uri }}">{{{ name }}}</a>
            {{ else }}
              {{{ name }}}
            {{/ if }}
            {{# if showChildNav }}
              {{ include 'partial-nav' class=childNavClass }}
            {{/ if }}
          </li>
        {{/ if }}
      {{/ each }}
    </ul>
  {{/ minify }}
{{/ if }}
