<div class="thumbnail{{# if containerClass }} {{ containerClass }}{{/ if }}">
    {{# if thumbnail }}
        {{# if uri }}<a href="{{ uri }}">{{/ if }}
            <img src="{{ thumbnail }}" alt="">
        {{# if uri }}</a>{{/ if }}
    {{/ if }}
    <div class="caption">
        <h3>{{ name }}</h3>
        {{# if summary }}
            <p>{{ summary }}</p>
        {{ else }}
            {{# if synopsis }}
                <p>{{ synopsis }}</p>
            {{ else }}
                {{# if description }}
                    <p>{{ description }}</p>
                {{/ if }}
            {{/ if }}
        {{/ if }}
        {{# if uri }}
            <p><a href="{{ uri }}" class="btn btn-primary" role="button">Learn More</a></p>
        {{/ if }}
    </div>
</div>