{{# hasHeadings page=page }}
  <div class="headings">
    <ul class="nav">
      {{# eachHeading page=../page }}
        <li class="heading {{# if draft }}draft{{/ if }}">
          {{# if id }}
            <a href="#{{ id }}" class="smooth-scroll">{{ name }}</a>
          {{ else }}
            <a href="#{{ slugify name }}" class="smooth-scroll">{{ name }}</a>
          {{/ if }}
        </li>
      {{/ eachHeading }}
    </ul>
  </div>
{{/ hasHeadings }}
