
{{# if nav_links }}
  {{# each nav_links }}

    {{# isActiveNav dest=../../dest }}

      <li class="current {{# if draft }}draft{{/ if }} {{# isActiveNav dest=../../../dest parentCanBeActive=false }}active{{/ isActiveNav }}">
        
        <a href="{{ uri }}">
          {{ name }}
        </a>
        
        {{# if nav_links }}

          <ul class="nav">
            {{ include 'partial-sidebar' this dest=../../../../dest showHeadings=../../../../showHeadings page=../../../../page }}
          </ul>
        
        {{ else }}
        
          {{# if ../../../../showHeadings }}
            {{ include 'partial-page-headings' this page=../../../../../page }}
          {{/ if }}

        {{/ if }}
        
      </li>

    {{ else }}

      <li class="{{# if draft }}draft{{/ if }}">
        <a href="{{ uri }}">
          {{ name }}
        </a>
      </li>

    {{/ isActiveNav }}

  {{/ each }}

{{ else }}

  {{# if ../showHeadings }}
    {{ include 'partial-page-headings' this page=../../page }}
  {{/ if }}

{{/ if }}
