<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ name }}
            {{# if deprecated }}
                <span class="label label-danger pull-right">Deprecated</span>
            {{/ if }}
        </h3>
    </div>
    <div class="panel-body">
        {{# if icon }}
            <i class="showcase-icon fa fa-2x fa-{{ icon }}"></i>
            <div class="showcase-desc">
        {{/ if }}
        {{# if summary }}
            <p>{{ summary }}</p>
        {{ else }}
            {{# if synopsis }}
                <p>{{ synopsis }}</p>
            {{ else }}
                {{# if description }}
                    <p>{{ description }}</p>
                {{/ if }}
            {{/ if }}
        {{/ if}}
        {{# if icon }}
            </div>
        {{/ if }}
    </div>
</div>