{{! No real reason to have this as a partial currently.  It was meant to be nested.  Leaving as is for now. }}
{{! Finds our current page }}
{{# each site.links }}
  {{# isActiveNav dest=../page.dest }}

    <ul class="nav nav-stacked nav-sidebar">
      {{# if showTitle }}
          <li class="title {{# if draft }}draft{{/ if }}">
            <a href="{{ uri }}">
              {{ name }}
            </a>
          </li>
      {{/ if}}

      {{# if links }}
        {{# each links }}
          {{# isActiveNav dest=../../../../page.dest }}
            <li class="current {{# if draft }}draft{{/ if }}">
              <a href="{{ uri }}">
                {{ name }}
              </a>
              {{# if ../../../../../showHeadings }}
                <ul class="nav">
                  {{> partial-page-headings ../../../../../../pagination.index.page }}
                </ul>
              {{/ if }}
            </li>
          {{ else }}
            <li class="{{# if draft }}draft{{/ if }}">
              <a href="{{ uri }}">
                {{ name }}
              </a>
            </li>
          {{/ isActiveNav }}
        {{/ each }}
      {{ else }}

        {{# if ../../../showHeadings }}
          {{> partial-page-headings ../../../../pagination.index.page }}
        {{/ if }}

      {{/ if }}
    </ul>

  {{/ isActiveNav }}
{{/ each }}
