{{! No real reason to have this as a partial currently.  It was meant to be nested.  Leaving as is for now. }}
<ul class="nav nav-stacked nav-sidebar">
  {{! Finds our current page }}
  {{# each site.links }}
    {{# isActiveNav dest=../page.dest }}
      {{# if showTitle }}
        <li class="title">
          <a href="{{ uri }}">
            {{ name }} {{# if draft }}<small>DRAFT</small>{{/ if }}
          </a>
        </li>
      {{/ if}}

      {{# if links }}
        {{# each links }}
          {{# isActiveNav dest=../../../../page.dest }}
            <li class="current">
              <a href="{{ uri }}">
                {{ name }} {{# if draft }}<small>(DRAFT)</small>{{/ if }}
              </a>
              {{# if ../../../../../showHeadings }}
                {{> partial-page-headings ../../../../../../pagination.index.page }}
              {{/ if }}
            </li>
          {{ else }}
            <li>
              <a href="{{ uri }}">
                {{ name }} {{# if draft }}<small>(DRAFT)</small>{{/ if }}
              </a>
            </li>
          {{/ isActiveNav }}
        {{/ each }}
      {{ else }}

        {{# if ../../../showHeadings }}
          {{> partial-page-headings ../../../../pagination.index.page }}
        {{/ if }}
      {{/ if }}

    {{/ isActiveNav }}
  {{/ each }}

</ul>
