---
layout: sidebar
showHeadings: false
code:
  - title: Web API Authorization
    description:  This is the application code that goes with our Web API tutoroial.  It includes an example of using the Authorization Code flow.
    repo: /RENXT-WebAPI-Authorization/
    tutorial: /tutorials/auth/

  - title: Search and Retrieve a Constituent
    description: A more specific example of the constituent api where we search based on different criteria.
    repo: /RENXT-Constituent-Search/

  - title: Updating Constituent Addresses
    description: Learn how to send information back to the API by updating a constituent address.
    repo: /RENXT-Constituent-Address/
    tutorial: /tutorials/getting-started/
---

<div class="code">

  <div class="header-with-button">
    <a href="https://github.com/blackbaud-community" target="_blank" class="pull-right btn btn-primary"><i class="fa fa-github fa-2x"></i></a>
    <h1 class="pull-left">Code Samples</h1>
  </div>

  <div class="clearfix"></div>

  {{# eachWithMod code mod=3 }}

    {{# if firstOrMod0 }}
      <div class="row">
    {{/ if }}

    <div class="col-sm-4">
      <div class="has-hover">
        <img src="holder.js/300x150" alt="" />
        <div class="show-on-hover">
          <div class="is-table">
            <div class="is-table-cell">
              <a href="{{ ../site.github }}{{ repo }}" target="_blank" class="btn btn-primary">
                View Code
              </a>
              {{# if tutorial }}
                <br />
                <a href="{{ tutorial }}" class="btn btn-white">
                  View Tutorial
                </a>
              {{/ if }}
            </div>
          </div>
        </div>
      </div>
      <h3>
        <a href="{{ ../site.github }}{{ repo }}" target="_blank">
          {{ title }}
        </a>
      </h3>
      {{# if description }}
        <p>{{ description }}</p>
      {{/ if }}
    </div>

    {{# if lastOrMod1 }}
      </div>
    {{/ if }}

  {{/ eachWithMod }}

</div>
