<header class="welcome" data-stellar-background-ratio="0.5">
  <div class="text-vertical-center">
    <h1>Welcome to your project</h1>
    <h2>This is an h2 tag and you can provide more info about this site here!</h2>
    <ul class="list-inline">
     <!-- <li>
        <a href="{{ stache.config.portal_signup }}" class="btn btn-lg btn-primary">Sign Up</a>
      </li>-->
      <li>
        <a href="#about" class="btn btn-lg btn-white smooth-scroll">Learn More</a>
      </li>
    </ul>
<!--    <p class="text-muted">Already have an account?  <a href="{{ stache.config.portal_signin }}">Sign In</a></p>-->
  </div>
</header>

<section id="about" class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>This is the about section</h2>
        <p class="lead">Use this section to provide a summary of all the goodness within this site.  The Getting Started button will take then to your first tutorial.</p>
        <p><a href="{{ stache.config.tutorials_getting_started }}" class="btn btn-lg btn-primary">Getting Started</a></p>
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .about -->

<section id="learn" class="learn section-padding bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        
        <h2>Learn</h2>

        <div class="row">
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ stache.config.tutorials }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Guided Tutorials</strong></h4>
            <p>Short, simple guides intended to help you get started using our tools and processes.</p>
          </div>  <!-- .col-md-3 -->
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ stache.config.guide }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-file-text fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Developer Guide</strong></h4>
            <p>Deeper documentation for topics such as ... </p>
          </div>  <!-- .col-md-3 -->
          
          <div class="clearfix visible-sm-block"></div>
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ stache.config.resources }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-cubes fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Resources</strong></h4>
            <p>Stay connected by using our developer blog, community forum, and other tools.</p>
          </div>  <!-- .col-md-3 -->
          
          <div class="col-md-3 col-sm-6">
            <a href="{{ stache.config.resources_code }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Code</strong></h4>
            <p>Follow along within our developer guides and tutorials with code samples ....</p>
          </div>  <!-- .col-md-3 -->
        </div>  <!-- .row -->
      </div>  <!-- .col-lg-10 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .learn -->

<section id="services" class="services section-padding bg-secondary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        
        <h2>Features</h2>
        <div class="row">
          
          <div class="col-sm-3">
            <a href="{{ stache.config.portal }}{{ getOperationUri name='Address (Create)' }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Feature 1</strong></h4>
            <p>This is paragraph describing a feature of this site. </p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">
            <a href="###########" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-terminal fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Feature 2</strong></h4>
            <p>This is paragraph describing a feature of this site. </p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">
            <a href="{{ stache.config.resources_status }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-tachometer fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Feature 3</strong></h4>
           <p>This is paragraph describing a feature of this site. </p>
          </div>  <!-- .col-md-4 -->
          
          <div class="col-sm-3">
            <a href="{{ stache.config.portal_analytics }}" class="btn-fa-link">
              <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-bar-chart fa-stack-1x text-primary"></i>
              </span>  <!-- .fa-stack -->
            </a>  <!-- .btn-fa-link -->
            <h4><strong>Feature 4</strong></h4>
            <p>This is paragraph describing a feature of this site. </p>
          </div>  <!-- .col-md-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .col-lg-10 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>  <!-- .services -->

<section id="start" class="start section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Get Help</h2>
        <p>Got questions?  We want to help! 
          Check out <a href="{{ stache.config.resources_faq }}">frequently asked questions</a>.  You can also contact some.body@blackbaud.com for questions on the content within this site.</p>
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</section>
