---
layout: layout-sidebar
limit: <%= stache.config.blog_recent_limit %>
---

{{ body }}

{{# eachChildLink sortKey='uri' sortDesc=true blogReadMoreLabel=stache.config.blogReadMoreLabel }}
  {{# if sticky }}
    <div class="blog-post-summary">
      {{ include 'partial-blog-header' }}
      {{# if markdown }}
        {{# markdown }}
          {{ include abspath stache=../../../../stache more=false }}
        {{/ markdown }}
      {{ else }}
        {{ include abspath stache=../../../stache more=false }}
      {{/ if }}
    </div>
  {{/ if }}
{{/ eachChildLink }}

{{# eachChildLink sortKey='uri' sortDesc=true blogReadMoreLabel=stache.config.blogReadMoreLabel }}
  {{# unless sticky }}
    <div class="blog-post-summary">
      {{ include 'partial-blog-header' }}
      {{# if markdown }}
        {{# markdown }}
          {{ include abspath stache=../../../../stache more=false }}
        {{/ markdown }}
      {{ else }}
        {{ include abspath stache=../../../stache more=false }}
      {{/ if }}
    </div>
  {{/ unless }}
{{/ eachChildLink }}

{{# if stache.config.comments }}
  {{# raw }}
    <script type="text/javascript">
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//{{ stache.config.comments_key }}.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  {{/ raw }}
{{/ if }}
