<!DOCTYPE html>
<html lang="en" class="{{# isHome dest=page.dest }}full-height-width{{/ isHome }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ stache.config.title }}{{# if title }} | {{ title }}{{/ if }}</title>
    <link rel="icon" href="{{ assets }}img/favicon.ico" type="image/ico">
    <style>@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,700");</style>

    {{# if stache.config.sky }}
      {{{ include stache.config.partial_sky_css }}}
    {{/ if }}

    {{# each stache.config.files.css }}
      <link rel="stylesheet" href="{{ this }}">
    {{/ each }}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="{{# if stache.config.showOmnibar }}bb-omnibar-height-padding{{/ if }} {{# isHome dest=page.dest }}full-height-width{{/ isHome }}">

    <div id="top"></div>

    {{# if stache.config.showHeader }}
      {{# if stache.config.header }}
        {{ include stache.config.header }}
      {{ else }}

        <div id="ng-stache" ng-controller="NavController"  class="bb-navbar">
          <bb-navbar>
            <div class="{{ stache.config.bootstrap_container }}">
              <div class="row">
                <div class="col-sm-12">
                  {{{ include stache.config.partial_header_nav }}}
                  {{{ include stache.config.partial_header_admin }}}
                  {{{ include stache.config.partial_header_search }}}
                </div>
              </div>
            </div>
          </bb-navbar>
        </div>

      {{/ if }}
    {{/ if }}

    {{# inherit stache.config.showAdminToolbar showAdminToolbar }}
      {{{ include stache.config.partial_admin_toolbar }}}
    {{/ inherit }}

    {{# inherit stache.config.markdown markdown }}
      {{# markdown }}{{ body }}{{/ markdown }}
    {{ else }}
      {{# withNewline }}{{ body }}{{/ withNewline }}
    {{/ inherit }}

    {{# inherit stache.config.contribute contribute }}
      {{{ include stache.config.partial_contribute }}}
    {{/ inherit }}

    {{# if note }}
      {{# withHash isPageNote=true priority=priority note=note }}
        {{> partial-note }}
      {{/ withHash }}
    {{/ if }}

    {{# if stache.config.showFooter }}
      {{# if stache.config.footer }}
        {{ include stache.config.footer }}
      {{ else }}

        <div class="footer-site">
          <div class="{{ stache.config.bootstrap_container }}">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                {{{ include stache.config.partial_footer_logo }}}
                {{{ include stache.config.partial_footer_navigation }}}
              </div>
              <div class="col-xs-6 col-sm-4">
                {{{ include stache.config.partial_footer_internal }}}
              </div>
              <div class="col-sm-4">
                {{{ include stache.config.partial_footer_social }}}
              </div>
            </div>

          </div>
        </div>

      {{/ if }}
    {{/ if }}

    <div class="copyright">
      <div class="{{ stache.config.bootstrap_container }}">
        <div class="row">

          <div class="col-sm-6">
            <p>&copy; Blackbaud, Inc.  All rights reserved.</p>
          </div>  <!-- .col-sm-6 -->

          <div class="col-sm-6">
          </div>  <!-- .col-sm-6 -->

        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .copyright -->

    {{# if stache.config.showOmnibar }}
      <div ng-controller="OmnibarController as omnibar">
        <bb-omnibar></bb-omnibar>
        <div ng-include="'/views/view-search-omnibar.html'"></div>
      </div>
    {{/ if }}

    {{# if stache.config.sky }}
      {{{ include stache.config.partial_sky_js }}}
    {{/ if }}

    <!-- build:js {{ assets }}js/stache.min.js -->
    {{# unless stache.config.sky }}
      <script src="{{ assets }}vendor/jquery/dist/jquery.min.js"></script>
      <script src="{{ assets }}vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="{{ assets }}vendor/angular/angular.min.js"></script>
      <script src="{{ assets }}vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="{{ assets }}vendor/moment/moment.js"></script>
    {{/ unless }}
    <script src="{{ assets }}js/libs/easyXDM.min.js"></script>
    <script src="{{ assets }}vendor/holderjs/holder.min.js"></script>
    <script src="{{ assets }}vendor/stellar/jquery.stellar.js"></script>
    <script src="{{ assets }}vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- endbuild -->

    <!-- build:js {{ assets }}js/app.min.js -->
    <script src="{{ assets }}js/stache-app.js"></script>
    <script src="{{ assets }}js/stache-jquery.js"></script>
    <script src="{{ assets }}js/libs/jquery.mobile.custom.min.js"></script>
    <script src="{{ assets }}js/video.js"></script>
    {{# if stache.config.prism }}
      <script src="{{ assets }}js/prism.js"></script>
    {{/ if }}
    <!-- endbuild -->

    {{# each stache.config.files.js }}
      <script src="{{ this }}"></script>
    {{/ each }}

    {{# each files.js }}
      <script src="{{ this }}"></script>
    {{/ each }}

    {{# if example-js }}
      <script>
        {{{ newline example-js }}}
      </script>
    {{/ if }}

    {{# if stache.config.sky }}
      {{# if stache.config.partial_sky_init }}
        <script>
          {{{ include stache.config.partial_sky_init }}}
        </script>
      {{/ if }}
    {{/ if }}

    {{# inherit stache.config.showAdminToolbar showAdminToolbar }}
      <script>
      {{{ include stache.config.partial_admin_script }}}
      </script>
    {{/ inherit }}

  </body>
</html>
