---
layout: layout-container
showHeadings: true
---

<div class="row">
  <main class="col-sm-9{{# compare patterns.sidebar.position "===" "left" }} col-sm-push-3{{/ compare }}">
    {{# if markdown }}
      {{# markdown }}{{ body }}{{/ markdown }}
    {{ else }}
      {{# withNewline }}{{ body }}{{/ withNewline }}
    {{/ if }}
  </main>
  <aside class="col-sm-3{{# compare patterns.sidebar.position "===" "left" }} col-sm-pull-9{{/ compare }}">
    <div class="sidebar">
      {{# if patterns.sidebar.title }}
        <h3>{{ patterns.sidebar.title }}</h3>
      {{/ if }}
      {{# withNav pattern="sidebar" }}
        {{ include 'partial-nav' class="nav nav-stacked nav-sidebar" }}
      {{/ withNav }}
    </div>
  </aside>
</div>