---
layout: layout-base
---

<div class="content">
  <div class="{{ stache.config.bootstrap_container }}">
    <div class="row">
      <div class="col-sm-12">
        {{# inherit stache.config.markdown markdown }}
          {{# markdown }}{{ body }}{{/ markdown }}
        {{ else }}
          {{# withNewline }}{{ body }}{{/ withNewline }}
        {{/ inherit }}
        {{# inherit stache.config.comments comments }}
          <div class="blog-comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//{{ stache.config.comments_key }}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
          </div>
        {{/ inherit }}
      </div>
    </div>
  </div>
</div>
