---
layout: layout-container
boxes:
  numColumnsPhone: 1
  numColumnsTablet: 2
  numColumnsDesktop: 3
  numColumnsLargeDesktop: 4
  sameHeight: false
---

{{# inherit stache.config.markdown markdown }}
  {{# markdown }}{{ body }}{{/ markdown }}
{{ else }}
  {{# withNewline }}{{ body }}{{/ withNewline }}
{{/ inherit }}

{{# withNav location="boxes" }}
    {{# if nav_links }}
        <div class="stache-boxes {{ boxes.containerClass }}">
            <ul class="row{{# if boxes.sameHeight }} stache-equal-height{{/ if }}">
                {{# each nav_links }}
                    <li class="col-xs-{{ columnWidthPhone }} col-sm-{{ columnWidthTablet }} col-md-{{ columnWidthDesktop }} col-lg-{{ columnWidthLargeDesktop }}">
                        {{{ include 'partial-media' }}}
                    </li>
                    {{# if lastInRowPhone }}<li class="clearfix visible-xs"></li>{{/ if }}
                    {{# if lastInRowTablet }}<li class="clearfix visible-sm"></li>{{/ if }}
                    {{# if lastInRowDesktop }}<li class="clearfix visible-md"></li>{{/ if }}
                    {{# if lastInRowLargeDesktop }}<li class="clearfix visible-lg"></li>{{/ if }}
                {{/ each }}
            </ul>
        </div>
    {{/ if }}
{{/ withNav }}