---
layout: layout-container
---

{{# inherit stache.config.markdown markdown }}
  {{# markdown }}{{ body }}{{/ markdown }}
{{ else }}
  {{# withNewline }}{{ body }}{{/ withNewline }}
{{/ inherit }}

<div class="showcase">
  {{# eachChildLink layout="vertical" mod=3 }}
    {{# if firstOrMod0 }}<div class="row showcase-row {{# unless first }}showcase-more{{/ unless }}">{{/ if }}
      <div class="col-sm-4">{{# if thumbnail }}
        <div class="has-hover">
          <img src="{{ thumbnail }}" alt="" />
          <div class="show-on-hover">
            <div class="is-table">
              <div class="is-table-cell">
                <a href="{{ uri }}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>{{/ if }}
      {{# if icon }}<i class="showcase-icon {{ icon }}"></i><div class="showcase-desc">{{/ if }}<h3 class="showcase-heading"><a href="{{ uri }}">{{ name }}</a></h3>
      {{# if description }}<p>{{ description }}</p>{{/ if }}
      {{# if icon }}</div>{{/ if }}
      </div>
    {{# if lastOrMod1 }}</div>{{/ if }}
  {{/ eachChildLink }}
</div>
